PORT=4000
MONGO_URI=mongodb+srv://USUARIO:CONTRASENA@TU_CLUSTER.mongodb.net/casa_domenica?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=cambia_esta_clave_por_una_clave_larga
FRONTEND_URL=http://localhost:5173
